<div class="container mt-5">
    <div>
        <div *ngIf="!registerMode" style ='text-align :center  ;'>
            <h1>Find the match</h1>
            <p class="lead">  Sign-Up / Sign-In here to enter in the app  </p>
          <div>
          <button (click)="registerToggle()" class="btn btn-success btn-lg mr-2">Register</button>
          <button class="btn btn-primary  btn-lg mr-2">  Learn More </button>
        </div>
        </div>
        <div *ngIf="registerMode"  class="container" >
            <div class="row justify-content-center">
               <div class= "col-6">
                    <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
         </div>
    </div>
</div>